
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  text-align: center;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


h1 {
  color: #2c3e50;
  font-size: 24px;
}


.json-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  margin-bottom: 10px;
  transition: 0.3s;
}

.json-input:focus {
  border-color: #2980b9;
}

/* Submit Button */
.submit-btn {
  background: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #2980b9;
}


.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}


.filter-section {
  margin-top: 20px;
}

.filter-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}


.response-container {
  margin-top: 20px;
  background: #ecf0f1;
  padding: 15px;
  border-radius: 8px;
}

.response-container h2 {
  color: #2c3e50;
  font-size: 20px;
}

.response-container h3 {
  color: #2980b9;
  font-size: 18px;
}

.response-container p {
  color: #34495e;
  font-size: 16px;
}
